p{
  font-family: Open Sans, sans-serif;
}
body{
  background: #ececec;
}
img {
  height: 200px;
  max-width: 200px;
}
.content{
  margin-top: 50px;
}
.product {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
  height: 500px;
  overflow: hidden;
  padding: 25px 15px;
  position: relative;
  text-align: center;
  transition: all 0.5s ease 0s;
  margin-bottom: 20px;
}
.product:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.product-img {
  height: 200px;
  overflow: hidden;
}
.product-title  {
  width: 200px;
  margin-top: 70px;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 18px;


}
.product-desc {
  margin: 0;
  max-height: 60px;
  overflow: hidden;
  font-size: 16px;
  line-height:22px;
  font-weight: 500;
}
.product-price {
  margin-top: 25px;
  bottom: 15px;
  width: 200px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
